VITE_API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5NDIyNGFmOTY4NmE0ODk4ZDJkZDAxNzAzOTZiYWNkMiIsIm5iZiI6MTc1NDAxMjIyMi40ODgsInN1YiI6IjY4OGMxYTNlYWRmNzBkMWE0N2RlNWQzZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.TVygl_OJ89n86BONTja2adF-zYysvG3suEkM6R4uh9k
VITE_SUPABASE_URL=https://vcwkvglfikbfqheectso.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjd2t2Z2xmaWtiZnFoZWVjdHNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQwMzA0NTAsImV4cCI6MjA2OTYwNjQ1MH0.-f5hoYHKvvfcUGUdp_PF0fsyDlzVkPYKVKdwGrwNmF4