:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white;
  background-color: black;
}

#header {
  color: white;
  padding: "1rem";
}

.home{
  margin:auto;
}

.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.hero-content {
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: white;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1rem;
  opacity: 0.9;
}

.buttons {
  margin-top: 1rem;
}

.details-btn {
  background: #f39c12;
  border: none;
  padding: 0.6rem 1.2rem;
  margin-right: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  text-decoration: none;
}

.details-btn:hover {
  color: #f39c12;
}
