.movieSearchWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 1rem;
}

.movieCard {
  width: 150px;
  text-align: center;
}

.movieImage {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.movieTitle {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movieCard:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.errorText {
  color: red;
}
